[submodule "firecracker-stock"]
	path = firecracker-stock
	url = https://github.com/bencw12/firecracker.git
	branch = stock
[submodule "firecracker-kaslr"]
	path = firecracker-kaslr
	url = https://github.com/bencw12/firecracker.git
	branch = kaslr
[submodule "firecracker-fgkaslr"]
	path = firecracker-fgkaslr
	url = https://github.com/bencw12/firecracker.git
[submodule "firecracker-bzImage"]
	path = firecracker-bzImage
	url = https://github.com/bencw12/firecracker.git
